NODE_ENV=development
PORT=4200

PG_HOST=localhost
PG_PORT=5432
PG_DB=coldstore
PG_USER=coldstore
PG_PASSWORD=coldstore

ES_URL=http://localhost:9200
ES_INDEX=coldstore-detected-events

GENAI_URL=http://localhost:4100
GENAI_TIMEOUT_MS=30000

NOTIFICATION_URL=http://localhost:4003
NOTIFICATION_TIMEOUT_MS=10000

API_TOKEN=dev-token
DEFAULT_TENANT_KEY=potato_wh
DEFAULT_TIME_WINDOW_MINUTES=120
WS_PUSH_INTERVAL_MS=5000
